# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual Environment
.env
.venv
env/
venv/

# Sensitive & Temporary files
*.pkl
*token*
*.log
.DS_Store
Thumbs.db
